@use "../../../scss/variables" as *;
@use "../../../scss/mixins" as *;

.aside {
  @include setFlex(column);
  background: linear-gradient(to left, rgba(0, 0, 0, 0)  90%,  #01102b 100%), $main-bg;;
  min-width: 230px;
  width: 20%;
  z-index: 10;
}

.dim {
  filter: brightness(25%);
}

.stretch {
  display: flex;
}
