@use "../../../scss/variables" as *;
@use "../../../scss/mixins" as *;

.aside {
  @include setFlex(column);
  background: $main-bg;
  width: 30%;
  z-index: 10
}

.dim {
  filter: brightness(35%);
}

.stretch {
  display: flex;
}
