@use "../../../scss/variables" as *;

.aside {
  background: $main-bg;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dim {
  filter: brightness(35%);
}

.stretch {
  display: flex;
}

