@use "../../../scss/variables";

.aside {
  background: variables.$main-bg;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

  .dim {
    filter: brightness(35%);
  }

.stretch {
  display: flex;
}

@media (max-width: 700px) {
  .aside {
  display: none;
  }

}
