@use "../../../scss/mixins" as *;

.lifebous {
  @include setFlex();
  margin: auto 0;
  .img_lifebous {
    transition: all 0.1s ease-in,;
  }

  @include mq() {
    & {
      justify-content: center;
      gap: 15%
    }
  }
}

.img_lifebous:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.img_lifebous.lifebousDisabled {
  filter: invert(1);
  cursor: not-allowed;
  transform: none;
}
