@use "../../../scss/variables" as *;
@use "../../../scss/mixins" as *;

.answers {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;

  .answer {
    position: relative;
    width: 45%;
    padding: 5px;
    font-size: 1em;
    color: #fff;
    margin: 2px 10px;
    border: none;
    transition: transform 0.1s;
    background: $main-bg;

    &:hover {
      @include hoverOver();
    }
  }

  .correct {
    animation: correct 4s forwards;
  }

  .wrong {
    animation: wrong 4s forwards;
  }
  .disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  @include mq() {
    & {
      flex-direction: column;
      .answer {
        width: 100%;
        font-size: 0.8em;
        margin: 2px 0;
      }
    }
  }
}

@keyframes wrong {
  0%,
  35%,
  43%,
  56% {
    background: #b69033;
  }

  40%,
  53%,
  66% {
    background: aliceblue;
  }

  80%,
  100% {
    background: rgb(137, 4, 4);
  }
}

@keyframes correct {
  0%,
  35%,
  43%,
  56% {
    background: #b69033;
  }

  40%,
  53%,
  66% {
    background: aliceblue;
  }

  80%,
  100% {
    background: green;
  }
}
