@use "../scss/mixins" as *;
@use "../scss/variables" as *;

.wrapper {
  min-height: 100vh;
  background: $main_bg;
  display: flex;
  justify-content: center;
  align-items: center;

  .app_container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    @include mq() {
      height: 100vh;
    }

    .btn {
      @include btn();
    }
    .btns {
      @include btns();
    }
  }
}
