@use "../../../scss/mixins" as *;

@include mq() {
  .mobileAside {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    height: 100vh;
    @include setFlex(column);
    &:hover {
      cursor: pointer;
    }
  }
  .dim {
    display: none;
  }
}
