.main {
    width: 70%;
    display: flex;
    flex-direction: column;
}
  .row{
    display: flex;
    justify-content: space-between;
  }

  .header {
    height: 50%;
  }

  .quiz {
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .question {
    padding: 10px 0
  }
