@use "../../../scss/mixins" as *;
.header {
  @include setFlex();
  height: 10%;
  .sound_btn {
    width: 35px;
    height: 35px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #aaa;
  }

  .volume {
    filter: invert(1);
    transition: transform 0.06s;

    &:hover {
      cursor: pointer;
      transform: scale(1.06);
    }
  }
}
