@use "../../../scss/mixins" as *;
.header {
  @include setFlex(row, space-between);
  padding: 0 5%;

  .volume {
    width: 50px;
    filter: invert(1);
    transition: transform 0.06s;

    &:hover {
      cursor: pointer;
      transform: scale(1.06);
    }
  }
  .best_score {
    margin: auto 0;
  }
}
