@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;

.question {
  padding: 15px;
  font-size: 1.2rem;
  background: $main-bg;
  border-radius: 5px;

  @include mq() {
    min-height: 70px;
    display: flex;
    align-items: center;
  }
}
