@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;

.question {
  padding: 5px;
  background: $main-bg;

  @include mq() {
    font-size: 0.6em;
    min-height: 70px;
    display: flex;
    align-items: center;
  }
}
