@use "../../../scss/mixins" as *;

.main_container {
  @include setFlex();
  width: 90%;

  .main {
    position: relative; // for timer
    width: 100%;
    min-height: 100hv;
    display: flex;
    flex-direction: column;

    background: linear-gradient(to right, rgba(0, 0, 0, 0) 95%, #01102b 100%),
      url("../../../assets/icons/millionaire-tv-studio.jpg");
    background-position: 50%;
    background-size: cover;

    color: #fff;
    padding: 6px;

    .quiz {
      height: 75%;
      @include setFlex(column, end);
    }
  }
  .mobile_device {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 70%, #010c22 95%),
      url("../../../assets/icons/millionaire-tv-studio.jpg");
    background-position: center;
    background-size: cover;
    .quiz {
      height: 85%;
    }
  }

  .darkened {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 50%, #01102b 100%),
      url("../../../assets/icons/millionaire-tv-studio.jpg");
    background-position: center;
    background-size: cover;
  }
}

@include mq() {
  .main_container {
    width: 100%;
  }
}
