.main {
    border: yellow 3px solid;
    width: 70%;
    display: flex;
    flex-direction: column;
}
  .row{
    display: flex;
    justify-content: space-between;
  }

.answers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

  .answer {
    min-width: 40%;
    padding: 5px;
    font-size: 1em;
    margin: 2px;
    border: none;
  }

  .question {
    border: 2px green solid;
    width: 100%;
    height: 50%;
  
  }

  .header {
    height: 50%;
    border: 2px solid brown
  }