@use "../../../scss/mixins" as *;

.main_container {
  @include setFlex();
  width: 70%;

  .main {
    width: 100%;
    @include setFlex(column);
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, #01102b 100%),
      url("../../../assets/bg_millionaire.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 10px;

    .quiz {
      height: 85%;
      @include setFlex(column);
    }
  }

  .darkened {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 50%, #01102b 100%),
      url("../../../assets/bg_millionaire.jpg");
    background-position: center;
    background-size: cover;
  }
}

@include mq() {
  .main_container {
    width: 100%;
  }
  .main {
    width: 100%;
  }
}
