@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;

.percentageBars {
  @include setFlex();
  margin: 10px auto 0 auto;
  padding: 10px;
  border: solid 3px #fff;
  border-radius: 5px;
  min-height: 25%;
  min-width: 40%;

  &_single {
    width: 35px;

    @include setFlex(column);
    .bar {
      margin-top: auto;
      background-color: #eee;
      height: 0;
      transition-duration: 2s;
      background-color: $gold-color;
    }
    .answer_id {
      margin: 0 auto;
    }
  }
  .disabled {
    opacity: 0;
  }
  &_single + &_single {
    margin-left: 12px;
  }
}
