
  $main-bg: linear-gradient(18deg, #013185 30%,  #011c4d 70%);

.wrapper {
height: 100vh;
background-color: #ccc;
}

  .container {
    max-width: 700px;
    width: 80%;
    min-height: 500px;
  }

.center {
    margin: auto
  }



  
