@use "../../../scss/mixins" as *;
.mobileAside {
  background: rgb(7, 7, 37);
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dim {
  filter: brightness(35%);
}

@include mq() {
  .mobileAside {
    display: none;
  }
  .showMobileAside {
    position: absolute;
    top: 0;
    right: 23px;
    display: flex;
    justify-content: center;
    min-width: 180px;
    height: 100%;
  }
}
