@use "../../../scss/mixins" as *;

.dim {
  filter: brightness(35%);
}

@include mq() {
  .mobileAside {
    background: rgba(7, 7, 37, 0.92);
    position: absolute;
    top: 0;
    right: 30px;
    min-width: 200px;
    height: 100vh;
    @include setFlex(column);
    &:hover {
      cursor: pointer;
    }
  }
  .dim {
    display: none;
  }
}
