
.drop_down_container {
  display: flex;
  width: 36px;

  &:hover {
    cursor: pointer;
  }
  .img_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .chevron {
    width: 30px;
    height: 30px;
    filter: invert(1);
  }
  .chevron_second {
    position: absolute;
    right: 8px;
    width: 30px;
    height: 30px;
    filter: invert(1);
  }
}
