@use "./variables";

@mixin hoverOver {
  cursor: pointer;
  background: #001337;
  @include mq() {
    background: variables.$main-bg;
  }
}

@mixin mq($size: 900px) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin setFlex($flex-direction: row, $justify-content: space-around) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}

@mixin btn {
  min-height: 35px;
  padding: 2px;
  background: variables.$main-bg;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: variables.$main-shadow;
  font-size: 1.1em;

  &:hover {
    @include hoverOver();
  }
}

@mixin btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
