@use "../../../scss/mixins" as *;
.header {
  @include setFlex(row, space-between);
  padding: 0 5% 5px;

  .volume {
    width: 50px;
    filter: invert(1);
    transition: transform 0.06s;

    &:hover {
      cursor: pointer;
      transform: scale(1.06);
    }
  }
  .header_row {
    @include setFlex();
    gap: 30px
  }
  .best_score {
    margin: auto 0;
  }
}
