.gameOver {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  
  &_header{
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .prize {
    margin-top: 20px;
  }
  .btns{
    display: flex;
    flex-direction: column;
    gap: 10px
  }
}
