@use "../../../scss/mixins" as *;

.gameOver {
  @include setFlex(column);
  height: 100%;

  &_header {
    @include setFlex(column);
    align-items: center;
  }
  .prize {
    margin-top: 20px;
  }
}
